.form {
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
}
.form > label {
    display: none;
}
.form > .input {
    padding: 0.5em 0;
    font-size: 17px;
    line-height: 1.5em;
    background-color: transparent;
    border: none;
    border-bottom: 2px solid #cfcfcf;
    border-radius: 0.2em;
}
.form > textarea {
    width: 100%;
    min-height: 100px;
    height: 150px;
    max-height: 300px;
    resize: vertical;
}
.form *:focus {
    outline: 1px solid var(--secondary-color);
}
